body {
    font-family: Arial, sans-serif;
    margin: 20px;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
    background-color: black;
}

h1, h2 {
    text-align: center;
}

#search-form {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
   
    color: white;
}

#search-input {
    margin-right: 10px;
    padding: 5px;
}

button {
    padding: 5px 10px;
}

#current-image-container {
    text-align: center;
    margin-top: 20px;
    color: white;
}

#image img {
    max-width: 100%;
    height: auto;

}

#search-history-section {
    margin-top: 30px;
    text-align: center;
}

#search-history {
    list-style-type: none;
    padding: 0;
}

#search-history li {
    cursor: pointer;
    padding: 5px;
    margin: 5px 0;
    background-color: #e0e0e0;
    border-radius: 4px;
}

#search-history li:hover {
    background-color: #ccc;
}